<!DOCTYPE html>
<html>
<head>
    <title>Nueva Noticia</title>
</head>
<body>
    <h1>Crear Noticia</h1>
    <form method="POST">
        <input type="text" name="titulo" placeholder="Título" required><br><br>

        <select name="categoria">
            <option>PC</option>
            <option>PlayStation</option>
            <option>Xbox</option>
            <option>Nintendo</option>
            <option>Mobile</option>
        </select><br><br>

        <textarea name="contenido" placeholder="Contenido" required></textarea><br><br>

        <button type="submit">Publicar</button>
    </form>
</body>
</html>
