body {
    background-color: #1a1a2e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background-color: #16213e;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #4cc9f0;
}



nav a:hover {
    color: #4cc9f0;
}

nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.1em;
}



tr 
{
  vertical-align: top;
  text-align: left;
  color: white;
  padding: 10px 55px;
  line-height: normal;
  font-size: 15px;
}
h3
{
  color: white;
}
.todo {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  color: white;
}

h1 {
    color: #4cc9f0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}



footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 0.8em;
    color: #888;
    background-color: #16213e;
}

.contenedor-detalle {
    display: flex;
    max-width: 850px;
    margin: 20px auto;
    background-color: #161f3f;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 210, 255, 0.2);
    gap: 30px;
}

.info-juego {
    flex: 1;/
}

.titulo_noticiero {
    color: #23dd77;
    font-size: 2.0em;
    margin-top: 0;
}

.categoria {
    color: #ccc;
    font-style: italic;
    margin-bottom: 20px;
}

.descripcion {
    line-height: 2.0;
    margin-bottom: 20px;
}

.zona-compra {
    background-color: #0f152d;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 0.8em;
    color: #888;
    background-color: #16213e;
}