body {
    background-color: #1a1a2e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background-color: #16213e;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #4cc9f0;
}

h1 {
    color: #4cc9f0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    color: #4cc9f0;
}


.contenedor_principal {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    padding-bottom: 5px;
}

.rejilla_juegos {
    display: grid;

    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    justify-content: center;
    padding-bottom: 40px;
}

.tarjeta_juego {
    background-color: #0f3460;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.tarjeta_juego:hover {
    transform: translateY(-5px);
    border: 1px solid #a78c18;
}

.imagen_portada {
    border-radius: 5px;
    border: 0px solid #4cc9f0;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin: 10px 0 0 0;
    font-size: 1.1em;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 0.8em;
    color: #888;
    background-color: #16213e;
}

a {
    text-decoration: none;
    color: inherit; /* O pon color: white; */
}