<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade "El Emma"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='categoria.css') }}">
</head>
  <body> 
    <center>
    <header>
        <h1>Arcade "El Emma"</h1>
      <br>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('categorias') }}">Categorías</a>
            <a href="{{ url_for('noticias') }}">Noticias</a>
        </nav>
    </header>
      </center>
    
      <h1><b></b></h1><br>
     
	<p>
	<center>
    <br>
    
    <center> 
    
    
<table>
<tr>
<td width="400" height="315">     
  <div class="contenedor-detalle">

        <div class="info-juego">
          <center>
            <h2 class="titulo-juego">Aventura y Mundo Abierto</h2>
            <br>
            <p class="categoria"><span>Para los que buscan historias largas, mapas gigantes y exploración épica.</span></p>
          </center>
            
            <hr>

            <div class="zona-compra">
              
            <center>
                <br>
              <a href="{{ url_for('the_legend_zelda') }}">                
                <h3>The Legend of Zelda: Ocarina of Time</h3>
              </a>
                <br><br>
              <a href="{{ url_for('the_witcher_3') }}">                
                <h3>The Witcher 3: Wild Hunt</h3>
              </a>
                <br><br>
              <a href="{{ url_for('red_dead_redeption_2') }}">                
                <h3>Red Dead Redemption 2</h3>
              </a>
                <br><br>
              <a href="{{ url_for('gta_3') }}">                
                <h3>Grand Theft Auto III</h3>
              </a>
                <br><br>
              <a href="{{ url_for('elder_ring') }}">                
                <h3>Elden Ring: Nightreign</h3>
              </a>              
                <br>
            </center>

            </div>
        </div>
    </div>

  
</td>
<td width="400" height="500">
  <div class="contenedor-detalle_1">

        <div class="info-juego">
          <center>
            <h2 class="titulo-juego">Acción y Habilidad</h2>
            <br>
            <p class="categoria"><span>Juegos que requieren reflejos rápidos, disparos o superar niveles difíciles</span></p>
          </center>
            
            <hr>

            <div class="zona-compra">
              
            <center>
                <br>
              <a href="{{ url_for('cod_blackops') }}">                
                <h3>Call of Duty: Black Ops</h3>
              </a>
                <br><br>
              <a href="{{ url_for('hollow_knight') }}">                
                <h3>Hollow Knight</h3>
              </a>
                <br><br>
              <a href="{{ url_for('cuphead') }}">                
                <h3>Cuphead</h3>
              </a>
                <br><br>
              <a href="{{ url_for('geometry_dash') }}">                
                <h3>Geometry Dash</h3>
              </a>
                <br><br>
            </center>
            
            </div>
        </div>
    </div>
    
</td>
</tr>

</table>
	</center>
	</p>      
    <table>
<tr>
<td width="400" height="315">     
  <div class="contenedor-detalle">

        <div class="info-juego">
          <center>
            <h2 class="titulo-juego">Multiplayer y Competitivo</h2>
            <br>
            <p class="categoria"><span>Ideales para jugar con amigos, competir o echar la reta.</span></p>
          </center>
            
            <hr>

            <div class="zona-compra">
              
            <center>
                <br>
              <a href="{{ url_for('fifa08') }}">                
                <h3>FIFA 08</h3>
              </a>
                <br><br>
              <a href="{{ url_for('fall_guys') }}">                
                <h3>Fall Guys</h3>
              </a>
                <br><br>
              <a href="{{ url_for('among_us') }}">                
                <h3>Among Us</h3>
              </a>
                <br><br>
              <a href="{{ url_for('roblox') }}">                
                <h3>Roblox</h3>
              </a>
                <br>
            </center>

            </div>
        </div>
    </div>

  
</td>
<td width="400" height="500">
  <div class="contenedor-detalle_1">

        <div class="info-juego">
          <center>
            <h2 class="titulo-juego">Creatividad y Relax</h2>
            <br>
            <p class="categoria"><span>Para construir, decorar y jugar a tu propio ritmo sin tanto estrés.</span></p>
          </center>
            
            <hr>

            <div class="zona-compra">
              
            <center>
                <br>
              <a href="{{ url_for('animal_crossing') }}">                
                <h3>Animal Crossing: New Horizons</h3>
              </a>
                <br><br>
              <a href="{{ url_for('minecraft') }}">                
                <h3>Minecraft</h3>
              </a>
                <br><br>
              <a href="{{ url_for('unpacking') }}">                
                <h3>Unpacking</h3>
              </a>
                <br>
            </center>
            
            </div>
        </div>
    </div>
    
</td>
</tr>

</table>
    

      </p><br>
      </p>
    <h1></h1><br>
    

    </article>
    <footer>
        <p>Equipo de Desarrollo</p>
        <p>Emmanuel Baltazar Hernández Escobar</p>
        <p>Omar Cárdenas Rivera</p>
        <p>José Carlos Martínez Castillo</p>
        <p>Cristo Fernando Arroyo Pastenes</p>
    </footer>

</body>
</html>