<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade "El Emma"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='noticias_basesitas.css') }}">
</head>
  <body> 
    <center>
    <header>
        <h1>Arcade "El Emma"</h1>
      <br>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('categorias') }}">Categorías</a>
            <a href="{{ url_for('noticias') }}">Noticias</a>
        </nav>
    </header>
      </center>
    
	<p>
	<center>
    <br>
    
    
<table>
<tr>
<td width="1000" height="315">     
  <div class="contenedor-detalle">

        <div class="info-juego">
            <h2 class="titulo_noticiero">SE VEIA VENIR</h2>
            <p class="categoria">El fracaso de un Call of Duty para móviles es tan grande que ya hay fecha para su adiós definitivo. Activision confirma el cierre de servidores de Warzone Mobile.</p>          
          
            <div class="descripcion">
            <p>Amigos, no me gusta decir 'se los dije', pero... se los dije. Lo que prometía ser la revolución de los shooters en portátiles ha terminado siendo uno de los tropiezos más caros de Activision. Si tenías esperanzas de que los parches mágicos arreglaran el juego, lamento informarte que la compañía ha decidido tirar la toalla y confirmar la fecha oficial para el apagón de los servidores de Warzone Mobile.</p>
            <p>La idea sonaba increíble en papel: tener la experiencia completa de Warzone, con el mapa clásico de Verdansk y progresión cruzada con tu consola, directamente en el bolsillo. ¿La realidad? Fue un desastre técnico. Teléfonos convertidos en estufas portátiles, texturas que parecían de la era de PlayStation 1 y una optimización que dejaba fuera a la mitad de la comunidad.</p>
            <p>Es triste, sobre todo para los que invirtieron dinero en pases de batalla pensando que este sería el futuro, pero parece que Call of Duty: Mobile (el de toda la vida) sigue siendo el rey indiscutible e inamovible. Al final, la nostalgia por Verdansk no fue suficiente para salvar un barco que tenía agujeros desde el día uno.</p>
            <p>Así que, soldados, disfruten las últimas partidas antes del cierre, tomen sus capturas de pantalla para el recuerdo y prepárense para volver a lo viejo conocido. Fue un intento valiente, pero la ejecución nos dejó a deber muchísimo.</p>
        
            </div>
            <hr>

            <div class="zona-compra">              
              <h4>Articulo hecho por: Emmanuel Baltazar Hernandez Escobar</h4>
              <p>Fecha: <span>5 de Diciembre de 2025</span></p>               
            </div>
        </div>
    </div>
</td>
</tr>

</table>
      
    <footer>
        <p>Equipo de Desarrollo</p>
        <p>Emmanuel Baltazar Hernández Escobar</p>
        <p>Omar Cárdenas Rivera</p>
        <p>José Carlos Martínez Castillo</p>
        <p>Cristo Fernando Arroyo Pastenes</p>
    </footer>

</body>
</html>