<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade "El Emma"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='noticias_basesitas.css') }}">
</head>
  <body> 
    <center>
    <header>
        <h1>Arcade "El Emma"</h1>
      <br>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('categorias') }}">Categorías</a>
            <a href="{{ url_for('noticias') }}">Noticias</a>
        </nav>
    </header>
      </center>
    
	<p>
	<center>
    <br>
    
    
<table>
<tr>
<td width="1000" height="315">     
  <div class="contenedor-detalle">

        <div class="info-juego">
            <h2 class="titulo_noticiero">VOTACION DE NUEVO MOB</h2>
            <p class="categoria">Ya están las votaciones de los nuevos Mobs de Minecraft. ¿Qué Mob es mejor para Minecraft? ¿Qué tiene cada uno?</p>          
          
            <div class="descripcion">
            <p>Otra vez llegó esa época del año donde la comunidad de Minecraft deja de construir casitas pacíficas para entrar en una guerra civil absoluta: el Mob Vote. Mojang nos ha presentado a los tres candidatos de esta edición y, honestamente, la decisión está bastante dividida entre la utilidad real y lo puramente estético. Aquí les resumo qué trae cada uno a la mesa para que no desperdicien su voto.</p>
            <p>Primero tenemos al Sniffer. Este grandulón es una criatura antigua, extinta, que tendríamos que revivir encontrando sus huevos bajo el agua. Su mecánica principal es olfatear el suelo y desenterrar semillas de plantas nuevas y decorativas. Es la opción favorita de los amantes del 'lore' y la jardinería. Además, hay que admitirlo, es gigante y se ve bastante adorable.</p>
            <p>En la esquina azul tenemos al Rascal. Un mob travieso que vive en las minas subterráneas. La idea es que juegue a las escondidas contigo; si logras encontrarlo tres veces, te recompensará con herramientas encantadas o ítems útiles para la minería. Suena interesante para darle vida a las cuevas, aunque muchos temen que se vuelva molesto después de la quinta vez que lo ves.</p>
            <p>Y finalmente, el Tuff Golem. Una estatua viviente hecha de toba volcánica. Este pequeño puede sostener ítems y caminar aleatoriamente por tu base, volviendo a su estado de estatua cuando se cansa. Es el sueño de los decoradores que quieren exhibir sus tesoros de una forma más dinámica que un simple marco en la pared, pero ¿es suficiente para ganar?</p>
            <p>La votación ya está abierta en el launcher. Analicen bien sus opciones, banda, porque recuerden: el mob que pierda se va al olvido para siempre. Elijan con sabiduría (y por favor, no voten solo por el que sea azul).</p>
              
            </div>
            <hr>

            <div class="zona-compra">              
              <h4>Articulo hecho por: Cristo Fernando Arroyo Pastenes</h4>
              <p>Fecha: <span>10 de Octubre de 2025</span></p>               
            </div>
        </div>
    </div>
</td>
</tr>

</table>
      
    <footer>
        <p>Equipo de Desarrollo</p>
        <p>Emmanuel Baltazar Hernández Escobar</p>
        <p>Omar Cárdenas Rivera</p>
        <p>José Carlos Martínez Castillo</p>
        <p>Cristo Fernando Arroyo Pastenes</p>
    </footer>

</body>
</html>