<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade "El Emma"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='noticias_basesitas.css') }}">
</head>
  <body> 
    <center>
    <header>
        <h1>Arcade "El Emma"</h1>
      <br>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('categorias') }}">Categorías</a>
            <a href="{{ url_for('noticias') }}">Noticias</a>
        </nav>
    </header>
      </center>
    
	<p>
	<center>
    <br>
    
    
<table>
<tr>
<td width="1000" height="315">     
  <div class="contenedor-detalle">

        <div class="info-juego">
            <h2 class="titulo_noticiero">LO QUE HACEN ALGUNOS</h2>
            <p class="categoria">Un jugador de Hollow Knight: Silksong se ha propuesto un reto masoquista que me agota solo de pensarlo.</p>          
          
            <div class="descripcion">
            <p>Hay gente que juega para relajarse después del trabajo, y luego está este tipo de personas que aparentemente odian tener la presión arterial baja. Navegando por los foros más oscuros de la comunidad de Hollow Knight, me topé con un usuario que ha decidido que la dificultad estándar de Silksong —que ya de por sí nos hace sudar a todos— era 'demasiado fácil' para su gusto.</p>
            <p>¿El reto en cuestión? Prepárense porque duele solo de leerlo: Completar el 112% del juego en modo 'Alma de Acero' (si mueres se borra la partida), sin usar ni una sola mejora de la aguja y, por si fuera poco, sin la capacidad de curarse. Básicamente, un 'No Hit' obligatorio en una partida de 40 horas.</p>
            <p>La comunidad está dividida entre llamarlo un dios absoluto o sugerirle terapia urgente. Mientras nosotros aquí en la redacción todavía celebramos cuando logramos matar a un jefe después de cinco intentos, este sujeto está convirtiendo el Reino de Pharloom en su patio de recreo personal, esquivando patrones de ataque imposibles con una precisión que da miedo.</p>
            <p>Sinceramente, no sé si sentir admiración o lástima por sus pulgares. Lo que sí sé es que estaremos pegados a su stream viendo si logra la hazaña o si termina lanzando el control a la pantalla en un ataque de ira (que, siendo honestos, es lo que haríamos cualquiera de nosotros). ¿Y tú? ¿Te atreverías a intentar algo así o valoras demasiado tu salud mental?</p>
                          
            </div>
            <hr>

            <div class="zona-compra">              
              <h4>Articulo hecho por: Omar Cardenas Rivera</h4>
              <p>Fecha: <span>2 de Noviembre de 2025</span></p>               
            </div>
        </div>
    </div>
</td>
</tr>

</table>
      
    <footer>
        <p>Equipo de Desarrollo</p>
        <p>Emmanuel Baltazar Hernández Escobar</p>
        <p>Omar Cárdenas Rivera</p>
        <p>José Carlos Martínez Castillo</p>
        <p>Cristo Fernando Arroyo Pastenes</p>
    </footer>

</body>
</html>