<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade "El Emma"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='noticias_basesitas.css') }}">
</head>
  <body> 
    <center>
    <header>
        <h1>Arcade "El Emma"</h1>
      <br>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('categorias') }}">Categorías</a>
            <a href="{{ url_for('noticias') }}">Noticias</a>
        </nav>
    </header>
      </center>
    
	<p>
	<center>
    <br>
    
    
<table>
<tr>
<td width="1000" height="315">     
  <div class="contenedor-detalle">

        <div class="info-juego">
            <h2 class="titulo_noticiero">YA ERA HORA ROBLOX ¿NO?</h2>
            <p class="categoria">La plataforma finalmente se pone las pilas con la verificación de edad. ¿Se acabaron las malas influencias o hecha la ley, hecha la trampa?</p>          
          
            <div class="descripcion">
            <p>Seamos sinceros: Roblox ha sido durante años el 'Viejo Oeste' de internet. Un lugar maravilloso donde puedes crear lo que sea, sí, pero también un sitio donde la línea entre un niño de 8 años y un señor de 40 se borraba con demasiada facilidad. Después de mil quejas de padres preocupados y un par de escándalos que salieron en las noticias, los desarrolladores por fin han dicho 'basta'.</p>
            <p>La nueva actualización trae un sistema de verificación de edad mucho más agresivo. Ya no basta con poner que naciste en el año 1900 para entrar; ahora quieren pruebas reales para acceder a los espacios de chat de voz y experiencias +17. La idea es simple: separar a los adultos de los niños para evitar esas situaciones incómodas (y peligrosas) de las que todos hemos oído hablar.</p>
            <p>Personalmente, creo que ya se habían tardado. La plataforma es increíble, pero necesitaba estos filtros urgentemente para seguir siendo segura. Claro, siempre habrá quien intente burlar el sistema —los niños son hackers en potencia cuando quieren jugar algo prohibido—, pero poner barreras más altas es un paso en la dirección correcta.</p>
            <p>¿Será el fin definitivo de los infiltrados y la toxicidad en los servidores? Probablemente no al 100%, pero al menos ahora podremos jugar un poco más tranquilos sabiendo que Roblox está vigilando quién está detrás de la pantalla.</p>
          
            </div>
            <hr>

            <div class="zona-compra">              
              <h4>Articulo hecho por: Emmanuel Baltazar Hernandez Escobar</h4>
              <p>Fecha: <span>20 de Noviembre de 2025</span></p>               
            </div>
        </div>
    </div>
</td>
</tr>

</table>
      
    <footer>
        <p>Equipo de Desarrollo</p>
        <p>Emmanuel Baltazar Hernández Escobar</p>
        <p>Omar Cárdenas Rivera</p>
        <p>José Carlos Martínez Castillo</p>
        <p>Cristo Fernando Arroyo Pastenes</p>
    </footer>

</body>
</html>